/*-------- GLOBAL STYLES ---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin   : 0;
    font-family: "Open Sans",
        serif;
    font-weight: 400;
    color      : #000;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat Alternates",
        serif;
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}


/*-------- UTILITY ---------*/

.content-width {
    width : 90%;
    margin: auto;
}

/*-------- HEADER ---------*/

header {
    display    : flex;
    flex-flow  : row nowrap;
    align-items: center;
    width      : 90%;
    margin     : auto;
    padding    : 2rem 0;
}

.logo-header {
    width: 120px;
}

.nav-desktop,
.nav-mobile ul {
    display: none;
}

/* Mobile Menu */
.nav-mobile {
    flex-grow     : 1;
    text-align    : end;
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
    width         : 100%;
}

.nav-mobile ul li {
    width        : 100%;
    border-bottom: 1px solid #1C5F5F;
    display      : flex;
}

.nav-mobile ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    padding        : 1rem 2rem;
    margin         : 0;
    text-decoration: none;
    font-size      : 1.5rem;
    font-weight    : 500;
    color          : #000;
}

.nav-mobile .show-items {
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    position        : absolute;
    top             : 40px;
    width           : 250px;
    right           : 0;
    background-color: #DCE6E7;
    text-align      : center;
    box-shadow      : rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.toggle {
    padding  : 0;
    margin   : 0;
    display  : inline;
    font-size: 3rem;
    cursor   : pointer;
    color    : #1C5F5F;
}

/*-------- BEST SELF ---------*/

h1 {
    font-size  : 3.6rem;
    font-weight: 500;
}

h1 span {
    color: #1C5F5F;
}

.best-self img {
    border-radius: 10px;
}

.best-self__first-container,
.consult-buttons,
.consult-list {
    margin-bottom: 2rem;
}

.best-self__first-container p {
    font-size : 1.6rem;
    text-align: justify;
}

.consult-buttons {
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-between;
}

.consult-btn,
.services-btn {
    font-size: 1.6rem;
}

.consult-btn {
    background-color: #1C5F5F;
    color           : #fff;
    border-radius   : 5px;
    padding         : 1rem 2rem;
    text-decoration : none;
    text-transform  : capitalize;
}

.services-btn {
    color          : #000;
    text-decoration: none;
    text-transform : capitalize;
}

.consult-list ul {
    display        : flex;
    flex-flow      : row nowrap;
    align-items    : center;
    justify-content: space-between;
    text-align     : center;
}

.consult-list ul p strong {
    font-size: 1.8rem;
}

.consult-list ul p {
    font-size: 1.6rem;
    margin   : 0;
}

/*-------- OUR EXPERT ---------*/
.our-expert {
    background-color: #DCE6E7;
}

.background-experts {
    position       : relative;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
}

.circle-background {
    position        : absolute;
    width           : 250px;
    height          : 250px;
    border-radius   : 50%;
    background-color: #1C5F5F;
    z-index         : 1;
}

.circle-outline {
    position     : absolute;
    width        : 325px;
    height       : 325px;
    border-radius: 50%;
    border       : 2px solid #1C5F5F;
    z-index      : 0;
}

.background-experts img {
    position : relative;
    z-index  : 2;
    max-width: 100%;
}

.features__container h2 {
    font-weight   : 500;
    font-size     : 3rem;
    text-transform: capitalize;
}

.features__text p {
    text-align: justify;
}

.features {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    gap            : 20px;
    padding        : 20px;
}

.features ul {
    list-style: none;
    padding   : 0;
    margin    : 0;
    display   : flex;
    flex-flow : row wrap;
    gap       : 40px;
}

.features li {
    display    : flex;
    flex-flow  : row nowrap;
    align-items: center;
    gap        : 10px;
}

.icon {
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-color: #1C5F5F;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.icon i {
    font-size: 3rem;
    color    : #fff;
}

.features p {
    margin: 0;
}

/*-------- CALL TO ACTION ---------*/
.call-to-action {
    background-color: #1C5F5F;
    padding         : 2rem 1rem;
}

.call-to-action img {
    display      : block;
    margin       : auto;
    margin-bottom: 1rem;
}

.call-us {
    margin-bottom: 1rem;
}

.contact-info {
    display    : flex;
    flex-flow  : row nowrap;
    align-items: center;
    gap        : 1rem;
    height     : 50px;
}

.call-us p,
.visit-us p {
    font-size  : 1.8rem;
    font-weight: 500;
}

.call-us a,
.visit-us a {
    font-weight: 300;
    font-size  : 1.2rem;
}

.call-us p,
.visit-us p,
.call-us a,
.visit-us a {
    margin: 0;
    color : #fff;
}

.icon-circle {
    background-color: #DCE6E7;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    text-decoration : none;
}

.icon-circle i {
    font-size: 3rem;
    color    : #1C5F5F;
}

/*-------- FOOTER---------*/

footer {
    width  : 90%;
    margin : auto;
    padding: 1rem;
}

.logo-footer {
    display: block;
    width  : 80%;
    margin : auto;
}

footer nav ul {
    text-align: center;
}

footer nav ul li {
    margin-bottom: .8rem;
}

footer nav ul li a {
    font-size      : 1.8rem;
    font-weight    : 300;
    text-decoration: underline;
}

footer nav p {
    text-align: center;
    font-size : 2rem;
}

.footer__nav-weblinks {
    margin-bottom: 2rem;
}

footer form {
    display      : flex;
    flex-flow    : row nowrap;
    align-items  : center;
    gap          : 5px;
    margin-bottom: 2rem;
}

footer form button {
    background-color: #1C5F5F;
    color           : #fff;
    border          : none;
    border-radius   : 5px;
    padding         : 1rem 2rem;
    height          : 40px;
    width           : 30%;
    font-weight     : 500;
}

footer input {
    width        : 70%;
    height       : 40px;
    border-radius: 5px;
    border       : 1px solid #1C5F5F;
}

.footer__form-container p,
.footer__copyright p {
    text-align: center;
}

.footer__copyright {
    border-top: 1px solid #000;
}

/*-------- MEDIA QUERIES ---------*/
/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
    .content-width {
        width        : 85%;
        margin-bottom: 2rem;
    }

    /*-------- HEADER ---------*/
    header {
        justify-content: space-between;
        width          : 85%;
        margin         : auto;
        padding        : 3rem 1rem;
    }

    .logo-header {
        width: 150px;
    }

    .nav-desktop {
        display: block;
    }

    .nav-desktop ul {
        display: flex;

    }

    .nav-desktop ul li {
        display    : flex;
        align-items: center;
    }

    .nav-desktop ul li a {
        font-size: 1.8rem;
    }

    .appointment-btn {
        background-color: #1C5F5F;
        border-radius   : 5px;
    }

    .appointment-btn a {
        display    : flex;
        align-items: center;
        color      : #fff;
        gap        : 1rem;
    }

    /* HIDE NAV MOBILE */
    .nav-mobile,
    .toggle {
        display: none;
    }

    /*-------- BEST SELF ---------*/

    h1 {
        font-size    : 4.8rem;
        margin-bottom: 2rem;
    }

    .best-self__first-container p {
        font-size    : 2rem;
        margin-bottom: 0;
    }

    .best-self__first-container,
    .best-self__second-container {
        display        : flex;
        flex-flow      : row nowrap;
        gap            : 2rem;
        align-items    : center;
        justify-content: space-between;
    }

    .best-self__first-container div,
    .best-self__first-container img,
    .free-consult__container,
    .physio__container {
        width: 50%;
    }

    .consult-btn,
    .services-btn {
        font-size: 2.5rem;
    }

    .consult-buttons,
    .consult-list {
        width: 90%;
    }

    .consult-list ul p strong {
        font-size: 4rem;
    }

    .consult-list ul p {
        font-size: 2rem;
        margin   : 0;
    }

    .physio__container {
        display    : flex;
        flex-flow  : row nowrap;
        align-items: center;
        gap        : .5rem;
    }

    .physio__container img {
        width: 50%;
    }



    /*-------- OUR EXPERT ---------*/

    .background-experts {
        width: 50%;
    }

    .circle-background {
        width : 450px;
        height: 450px;
    }

    .circle-outline {
        width : 550px;
        height: 550px;
    }

    .our-expert .content-width {
        display  : flex;
        flex-flow: row nowrap;
        gap      : 2rem;
    }

    .features__container {
        width          : 50%;
        display        : flex;
        flex-flow      : column nowrap;
        align-items    : center;
        justify-content: center;
    }

    .features {
        padding: 0;
    }

    .features ul {
        justify-content: space-between;
    }

    .features p {
        font-size: 1.4rem;
    }

    /*-------- CALL TO ACTION ---------*/

    .call-to-action .content-width {
        display        : flex;
        flex-flow      : row nowrap;
        align-items    : center;
        justify-content: space-between;
        margin-bottom  : 0;
    }

    .call-to-action img {
        margin: 0;
    }

    .call-us {
        margin-bottom: 0;
    }

    .call-us a,
    .visit-us a {
        font-size: 1.5rem;
    }

    /*-------- FOOTER---------*/
    footer {
        width  : 85%;
        margin : auto;
        padding: 3rem 1rem;
    }

    .footer__first-container {
        display        : flex;
        flex-flow      : row nowrap;
        align-items    : center;
        justify-content: space-between;
    }

}